@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:600&display=swap&subset=vietnamese);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);
.pageIndicator-module--theme-dark--2WB-H {
    --primaryBlack: #fff;
    --primaryBlack-Lighten: hsla(0, 0%, 100%, 0.6);
    --primaryBlack-Lighten2: hsla(0, 0%, 100%, 0.85);
    --image-shade: #26292a;
    --repo-name: #86b5ff;
    --repo-border: #373c3e;
    --repo-icon: #fff;
    --repo-star: #fff;
    --repo-fork: #fff;
    --svg: #fff;
    --flicky-background: #181a1b;
    --flicky-color: #c8c3bc;
    --flicky-dot: #4f5a5d;
    --background: #181a1b;
    --clap-wrap: hsla(0, 0%, 100%, 0.54);
    --clap-wrap-hover: hsla(0, 0%, 100%, 0.76);
    --block-quote: hsla(0, 0%, 100%, 0.54)
}

.pageIndicator-module--theme-light--v3-JN {
    --primaryBlack: #000;
    --primaryBlack-Lighten: rgba(0, 0, 0, 0.6);
    --primaryBlack-Lighten2: rgba(0, 0, 0, 0.85);
    --image-shade: #e8e6e6;
    --repo-name: #001aff;
    --repo-border: #e1e4e8;
    --repo-icon: #000;
    --repo-star: #000;
    --repo-fork: #000;
    --svg: #000;
    --flicky-background: #fff;
    --flicky-color: #333;
    --flicky-dot: #333;
    --background: #fff;
    --clap-wrap: rgba(0, 0, 0, 0.54);
    --clap-wrap-hover: rgba(0, 0, 0, 0.76);
    --block-quote: rgba(0, 0, 0, 0.54)
}

.pageIndicator-module--relative--21WiY {
    position: relative
}

.pageIndicator-module--pageIndicator--CH_rw {
    display: flex;
    width: 35px;
    height: 100px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    margin-left: 2.5rem;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap
}

@media(max-width:767px) {
    .pageIndicator-module--pageIndicator--CH_rw {
        display: none
    }
}

.pageIndicator-module--pageIndicator--CH_rw .pageIndicator-module--sliderWrapper--7odY4 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 20px;
    display: flex;
    align-content: center;
    cursor: pointer;
    align-items: center
}

.pageIndicator-module--pageIndicator--CH_rw .pageIndicator-module--sliderWrapper--7odY4:hover>.pageIndicator-module--slider--36WVL {
    width: 85%;
    cursor: pointer
}

.pageIndicator-module--pageIndicator--CH_rw .pageIndicator-module--slider--36WVL {
    width: 70%;
    height: 100%;
    max-height: 2px;
    margin-bottom: 1em;
    border-radius: 99px;
    background: var(--primaryBlack);
    display: block;
    opacity: .5;
    transition: width .2s ease-in-out
}

.pageIndicator-module--pageIndicator--CH_rw .pageIndicator-module--slider--36WVL:last-child {
    margin-bottom: 0
}

.pageIndicator-module--pageIndicator--CH_rw .pageIndicator-module--slider--36WVL:hover {
    width: 85%;
    cursor: pointer
}

.pageIndicator-module--pageIndicator--CH_rw .pageIndicator-module--slider--36WVL.pageIndicator-module--active--1KN6J {
    width: 100% !important;
    opacity: 1;
    background: var(--primaryBlack)
}

.blogLoading-module--theme-dark--32XhR {
    --primaryBlack: #fff;
    --primaryBlack-Lighten: hsla(0, 0%, 100%, 0.6);
    --primaryBlack-Lighten2: hsla(0, 0%, 100%, 0.85);
    --image-shade: #26292a;
    --repo-name: #86b5ff;
    --repo-border: #373c3e;
    --repo-icon: #fff;
    --repo-star: #fff;
    --repo-fork: #fff;
    --svg: #fff;
    --flicky-background: #181a1b;
    --flicky-color: #c8c3bc;
    --flicky-dot: #4f5a5d;
    --background: #181a1b;
    --clap-wrap: hsla(0, 0%, 100%, 0.54);
    --clap-wrap-hover: hsla(0, 0%, 100%, 0.76);
    --block-quote: hsla(0, 0%, 100%, 0.54)
}

.blogLoading-module--theme-light--3qIfj {
    --primaryBlack: #000;
    --primaryBlack-Lighten: rgba(0, 0, 0, 0.6);
    --primaryBlack-Lighten2: rgba(0, 0, 0, 0.85);
    --image-shade: #e8e6e6;
    --repo-name: #001aff;
    --repo-border: #e1e4e8;
    --repo-icon: #000;
    --repo-star: #000;
    --repo-fork: #000;
    --svg: #000;
    --flicky-background: #fff;
    --flicky-color: #333;
    --flicky-dot: #333;
    --background: #fff;
    --clap-wrap: rgba(0, 0, 0, 0.54);
    --clap-wrap-hover: rgba(0, 0, 0, 0.76);
    --block-quote: rgba(0, 0, 0, 0.54)
}

.blogLoading-module--relative--1J2wT {
    position: relative
}

.blogLoading-module--loading--15APM {
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--background);
    height: 100%;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center
}

.header-module--theme-dark--1BZ9m {
    --primaryBlack: #fff;
    --primaryBlack-Lighten: hsla(0, 0%, 100%, 0.6);
    --primaryBlack-Lighten2: hsla(0, 0%, 100%, 0.85);
    --image-shade: #26292a;
    --repo-name: #86b5ff;
    --repo-border: #373c3e;
    --repo-icon: #fff;
    --repo-star: #fff;
    --repo-fork: #fff;
    --svg: #fff;
    --flicky-background: #181a1b;
    --flicky-color: #c8c3bc;
    --flicky-dot: #4f5a5d;
    --background: #181a1b;
    --clap-wrap: hsla(0, 0%, 100%, 0.54);
    --clap-wrap-hover: hsla(0, 0%, 100%, 0.76);
    --block-quote: hsla(0, 0%, 100%, 0.54)
}

.header-module--theme-light--1DkDK {
    --primaryBlack: #000;
    --primaryBlack-Lighten: rgba(0, 0, 0, 0.6);
    --primaryBlack-Lighten2: rgba(0, 0, 0, 0.85);
    --image-shade: #e8e6e6;
    --repo-name: #001aff;
    --repo-border: #e1e4e8;
    --repo-icon: #000;
    --repo-star: #000;
    --repo-fork: #000;
    --svg: #000;
    --flicky-background: #fff;
    --flicky-color: #333;
    --flicky-dot: #333;
    --background: #fff;
    --clap-wrap: rgba(0, 0, 0, 0.54);
    --clap-wrap-hover: rgba(0, 0, 0, 0.76);
    --block-quote: rgba(0, 0, 0, 0.54)
}

.header-module--relative--3WloF {
    position: relative
}

.header-module--go-back--15BET {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    justify-content: space-around;
    align-items: center;
    display: flex;
    position: relative;
    cursor: pointer
}

.header-module--go-back--15BET:after {
    content: "";
    width: 0;
    height: 1px;
    display: block;
    background: var(--primaryBlack);
    position: absolute;
    transition: .3s;
    bottom: 0;
    left: 0
}

.header-module--go-back--15BET svg {
    height: 15px;
    margin-right: 10px;
    font-weight: 700
}

.header-module--go-back--15BET:hover:after {
    width: 100%
}

.header-module--header--2-JmA {
    display: flex;
    position: fixed;
    color: var(--primaryBlack);
    justify-content: space-between;
    top: 0;
    width: 100%;
    align-items: center;
    z-index: 9999;
    padding: 2.5rem;
    transition: top .1s ease-in
}

@media(max-width:767px) {
    .header-module--header--2-JmA {
        position: relative
    }
    .header-module--header--2-JmA .header-module--menu--1xMht {
        display: none
    }
}

.header-module--header--2-JmA.header-module--hideMenu--3y0oN {
    top: -134px;
    transition: top .2s ease-in
}

.header-module--header--2-JmA.header-module--resize--aWLm9 .header-module--logo--1Kpti br,
.header-module--header--2-JmA.header-module--resize--aWLm9 .header-module--logo--1Kpti br:after {
    content: ""
}

.header-module--header--2-JmA.header-module--resize--aWLm9 .header-module--logo--1Kpti h1 {
    font-size: 1.4rem
}

.header-module--header--2-JmA.header-module--blogView--RKFEV {
    background: var(--background);
    max-width: inherit
}

@media(max-width:767px) {
    .header-module--header--2-JmA.header-module--blogView--RKFEV {
        position: fixed
    }
}

a {
    color: inherit;
    text-decoration: none
}

.header-module--mobileMenu--bJLMc {
    position: fixed;
    background: var(--background);
    width: 100%;
    height: 100%;
    z-index: 10000;
    opacity: 0;
    transition: all .1s ease-in-out;
    justify-content: center;
    display: flex;
    color: var(--primaryBlack-Lighten);
    align-items: center;
    flex-direction: column
}

.header-module--mobileMenu--bJLMc.header-module--mobileActive--3kS4J {
    visibility: visible;
    color: var(--primaryBlack);
    transition: color .1s ease-in-out
}

.header-module--m-item--2n1nb {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-family: Raleway, sans-serif;
    opacity: 0;
    font-size: 1.6em;
    font-weight: 100;
    transition: all .3s ease;
    border: 20px solid transparent;
    position: relative;
    transform: translateY(-5px)
}

.header-module--m-item--2n1nb.header-module--mSelected--2H80S {
    opacity: 1
}

.header-module--m-item--2n1nb:hover {
    opacity: 1 !important
}

.header-module--m-item--2n1nb:hover>.header-module--hoverPointer--1Xcql {
    transform: scaleX(1)
}

.header-module--m-item--2n1nb>.header-module--hoverPointer--1Xcql {
    bottom: 0;
    width: 10px;
    height: 1px;
    background: var(--svg);
    transform: scaleX(0);
    position: absolute;
    transition: transform .5s ease
}

.header-module--menu-burger--1_tr6 {
    position: fixed;
    right: 2.5rem;
    top: 2.5rem;
    z-index: 12000;
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: column;
    align-self: center;
    align-items: flex-end
}

@media(max-width:767px) {
    .header-module--menu-burger--1_tr6 {
        display: flex
    }
}

.header-module--menu-burger--1_tr6 .header-module--line--1lOGL {
    position: absolute;
    transition: transform .2s ease, margin .2s ease .1s, width .5s ease .4s;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background: var(--primaryBlack)
}

.header-module--menu-burger--1_tr6 .header-module--line--1lOGL:first-child {
    width: 60%;
    margin-top: -5px
}

.header-module--menu-burger--1_tr6 .header-module--line--1lOGL:last-child {
    width: 100%;
    margin-top: 5px
}

.header-module--menu-burger--1_tr6.header-module--active--2LgY7 {
    height: 30px
}

.header-module--menu-burger--1_tr6.header-module--active--2LgY7 .header-module--line--1lOGL {
    width: 100%;
    transition: width .2s ease, margin .2s ease .1s, transform .5s ease .4s
}

.header-module--menu-burger--1_tr6.header-module--active--2LgY7 .header-module--line--1lOGL:first-child {
    width: 100%;
    margin-top: 0;
    transform: rotate(45deg)
}

.header-module--menu-burger--1_tr6.header-module--active--2LgY7 .header-module--line--1lOGL:last-child {
    margin-top: 0;
    transform: rotate(-45deg)
}

.header-module--menu--1xMht {
    position: relative;
    justify-content: space-evenly;
    font-family: Raleway, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center
}

.header-module--menu--1xMht .header-module--item--4Gk0k {
    position: relative;
    color: #989898;
    display: inline-block;
    margin: 1em
}

.header-module--menu--1xMht .header-module--item--4Gk0k.header-module--selected--2ZYDx {
    color: var(--primaryBlack)
}

.header-module--menu--1xMht .header-module--item--4Gk0k.header-module--selected--2ZYDx:after {
    position: absolute;
    display: block;
    background: #ab4e4f;
    width: 100%;
    height: 2px;
    content: ""
}

.header-module--menu--1xMht .header-module--item--4Gk0k:hover {
    cursor: pointer;
    color: var(--primaryBlack)
}

.header-module--logo--1Kpti {
    -webkit-user-select: none;
    user-select: none
}

.header-module--logo--1Kpti h1 {
    font-family: Roboto Slab, serif;
    font-size: 1.6rem;
    margin: 0
}

@media(max-width:767px) {
    .header-module--logo--1Kpti br,
    .header-module--logo--1Kpti br:after {
        content: ""
    }
    .header-module--logo--1Kpti h1 {
        font-size: 1.4rem
    }
}

.toggleDark-module--theme-dark--3KRDq {
    --primaryBlack: #fff;
    --primaryBlack-Lighten: hsla(0, 0%, 100%, 0.6);
    --primaryBlack-Lighten2: hsla(0, 0%, 100%, 0.85);
    --image-shade: #26292a;
    --repo-name: #86b5ff;
    --repo-border: #373c3e;
    --repo-icon: #fff;
    --repo-star: #fff;
    --repo-fork: #fff;
    --svg: #fff;
    --flicky-background: #181a1b;
    --flicky-color: #c8c3bc;
    --flicky-dot: #4f5a5d;
    --background: #181a1b;
    --clap-wrap: hsla(0, 0%, 100%, 0.54);
    --clap-wrap-hover: hsla(0, 0%, 100%, 0.76);
    --block-quote: hsla(0, 0%, 100%, 0.54)
}

.toggleDark-module--theme-light--35vkB {
    --primaryBlack: #000;
    --primaryBlack-Lighten: rgba(0, 0, 0, 0.6);
    --primaryBlack-Lighten2: rgba(0, 0, 0, 0.85);
    --image-shade: #e8e6e6;
    --repo-name: #001aff;
    --repo-border: #e1e4e8;
    --repo-icon: #000;
    --repo-star: #000;
    --repo-fork: #000;
    --svg: #000;
    --flicky-background: #fff;
    --flicky-color: #333;
    --flicky-dot: #333;
    --background: #fff;
    --clap-wrap: rgba(0, 0, 0, 0.54);
    --clap-wrap-hover: rgba(0, 0, 0, 0.76);
    --block-quote: rgba(0, 0, 0, 0.54)
}

.toggleDark-module--relative--2PBGc {
    position: relative
}

.toggleDark-module--wrapper--3XRbA {
    background: #e8e6e6;
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 1px;
    border-radius: 99999px;
    z-index: 1;
    position: relative
}

.toggleDark-module--wrapper--3XRbA:hover {
    cursor: pointer
}

.toggleDark-module--wrapper--3XRbA .toggleDark-module--btn--CbqYt {
    background: #2f363d;
    position: absolute;
    left: 0;
    color: #ffdf5d;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 6px;
    transition: all 1s ease
}

.toggleDark-module--wrapper--3XRbA .toggleDark-module--btn--CbqYt svg {
    width: 100%;
    height: 100%
}

.toggleDark-module--wrapperDark--3JNph {
    background: #2f363d
}

.toggleDark-module--wrapperDark--3JNph .toggleDark-module--btn--CbqYt {
    transform: translateX(16px);
    background: #fff;
    color: #2f363d
}

.nextSectionIndicator-module--theme-dark--S9ULI {
    --primaryBlack: #fff;
    --primaryBlack-Lighten: hsla(0, 0%, 100%, 0.6);
    --primaryBlack-Lighten2: hsla(0, 0%, 100%, 0.85);
    --image-shade: #26292a;
    --repo-name: #86b5ff;
    --repo-border: #373c3e;
    --repo-icon: #fff;
    --repo-star: #fff;
    --repo-fork: #fff;
    --svg: #fff;
    --flicky-background: #181a1b;
    --flicky-color: #c8c3bc;
    --flicky-dot: #4f5a5d;
    --background: #181a1b;
    --clap-wrap: hsla(0, 0%, 100%, 0.54);
    --clap-wrap-hover: hsla(0, 0%, 100%, 0.76);
    --block-quote: hsla(0, 0%, 100%, 0.54)
}

.nextSectionIndicator-module--theme-light--1gyGQ {
    --primaryBlack: #000;
    --primaryBlack-Lighten: rgba(0, 0, 0, 0.6);
    --primaryBlack-Lighten2: rgba(0, 0, 0, 0.85);
    --image-shade: #e8e6e6;
    --repo-name: #001aff;
    --repo-border: #e1e4e8;
    --repo-icon: #000;
    --repo-star: #000;
    --repo-fork: #000;
    --svg: #000;
    --flicky-background: #fff;
    --flicky-color: #333;
    --flicky-dot: #333;
    --background: #fff;
    --clap-wrap: rgba(0, 0, 0, 0.54);
    --clap-wrap-hover: rgba(0, 0, 0, 0.76);
    --block-quote: rgba(0, 0, 0, 0.54)
}

.nextSectionIndicator-module--relative--lr8a2 {
    position: relative
}

.nextSectionIndicator-module--nextSectionIndicator--6xLbW {
    position: fixed;
    display: flex;
    width: 100px;
    height: 60px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
    cursor: pointer
}

@media(max-width:767px) {
    .nextSectionIndicator-module--nextSectionIndicator--6xLbW {
        display: none
    }
}

.nextSectionIndicator-module--nextSectionIndicator--6xLbW span {
    font-family: Raleway, sans-serif;
    text-transform: uppercase
}

.nextSectionIndicator-module--nextSectionIndicator--6xLbW:after {
    content: "";
    display: block;
    background: var(--primaryBlack);
    width: 1px;
    height: 30px;
    bottom: 0;
    position: absolute
}

.socialMediaIndicator-module--theme-dark--jdoY5 {
    --primaryBlack: #fff;
    --primaryBlack-Lighten: hsla(0, 0%, 100%, 0.6);
    --primaryBlack-Lighten2: hsla(0, 0%, 100%, 0.85);
    --image-shade: #26292a;
    --repo-name: #86b5ff;
    --repo-border: #373c3e;
    --repo-icon: #fff;
    --repo-star: #fff;
    --repo-fork: #fff;
    --svg: #fff;
    --flicky-background: #181a1b;
    --flicky-color: #c8c3bc;
    --flicky-dot: #4f5a5d;
    --background: #181a1b;
    --clap-wrap: hsla(0, 0%, 100%, 0.54);
    --clap-wrap-hover: hsla(0, 0%, 100%, 0.76);
    --block-quote: hsla(0, 0%, 100%, 0.54)
}

.socialMediaIndicator-module--theme-light--Esd4O {
    --primaryBlack: #000;
    --primaryBlack-Lighten: rgba(0, 0, 0, 0.6);
    --primaryBlack-Lighten2: rgba(0, 0, 0, 0.85);
    --image-shade: #e8e6e6;
    --repo-name: #001aff;
    --repo-border: #e1e4e8;
    --repo-icon: #000;
    --repo-star: #000;
    --repo-fork: #000;
    --svg: #000;
    --flicky-background: #fff;
    --flicky-color: #333;
    --flicky-dot: #333;
    --background: #fff;
    --clap-wrap: rgba(0, 0, 0, 0.54);
    --clap-wrap-hover: rgba(0, 0, 0, 0.76);
    --block-quote: rgba(0, 0, 0, 0.54)
}

.socialMediaIndicator-module--relative--1osN1 {
    position: relative
}

.socialMediaIndicator-module--socialMediaIndicator--4luJy {
    position: fixed;
    right: 2.5rem;
    font-family: Raleway, sans-serif;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    font-weight: 300
}

@media(max-width:767px) {
    .socialMediaIndicator-module--socialMediaIndicator--4luJy {
        display: none
    }
}

.socialMediaIndicator-module--socialMediaIndicator--4luJy ul {
    list-style: none;
    margin-left: 0
}

.socialMediaIndicator-module--socialMediaIndicator--4luJy li:before {
    content: "";
    margin-left: -.1rem
}

.socialMediaIndicator-module--socialMediaIndicator--4luJy li:hover {
    list-style: none;
    cursor: pointer
}

.socialMediaIndicator-module--indicator--32gtb {
    opacity: 0;
    position: absolute;
    width: 6px;
    height: 6px;
    background: #333;
    border-radius: 50%;
    left: -19px;
    top: 12px
}

.scrollDownIndicator-module--theme-dark--3IeWU {
    --primaryBlack: #fff;
    --primaryBlack-Lighten: hsla(0, 0%, 100%, 0.6);
    --primaryBlack-Lighten2: hsla(0, 0%, 100%, 0.85);
    --image-shade: #26292a;
    --repo-name: #86b5ff;
    --repo-border: #373c3e;
    --repo-icon: #fff;
    --repo-star: #fff;
    --repo-fork: #fff;
    --svg: #fff;
    --flicky-background: #181a1b;
    --flicky-color: #c8c3bc;
    --flicky-dot: #4f5a5d;
    --background: #181a1b;
    --clap-wrap: hsla(0, 0%, 100%, 0.54);
    --clap-wrap-hover: hsla(0, 0%, 100%, 0.76);
    --block-quote: hsla(0, 0%, 100%, 0.54)
}

.scrollDownIndicator-module--theme-light--2G2yA {
    --primaryBlack: #000;
    --primaryBlack-Lighten: rgba(0, 0, 0, 0.6);
    --primaryBlack-Lighten2: rgba(0, 0, 0, 0.85);
    --image-shade: #e8e6e6;
    --repo-name: #001aff;
    --repo-border: #e1e4e8;
    --repo-icon: #000;
    --repo-star: #000;
    --repo-fork: #000;
    --svg: #000;
    --flicky-background: #fff;
    --flicky-color: #333;
    --flicky-dot: #333;
    --background: #fff;
    --clap-wrap: rgba(0, 0, 0, 0.54);
    --clap-wrap-hover: rgba(0, 0, 0, 0.76);
    --block-quote: rgba(0, 0, 0, 0.54)
}

.scrollDownIndicator-module--relative--2Kmxy {
    position: relative
}

.scrollDownIndicator-module--scrollDownIndicator--36u-R {
    position: fixed;
    display: flex;
    bottom: 0;
    height: 250px;
    width: 20px;
    margin-left: 2.5rem;
    justify-content: center
}

@media(max-width:767px) {
    .scrollDownIndicator-module--scrollDownIndicator--36u-R {
        display: none
    }
}

.scrollDownIndicator-module--scrollDownIndicator--36u-R:after {
    display: block;
    height: 110px;
    content: "";
    width: 1px;
    position: fixed;
    bottom: 0;
    left: 3.5px;
    background: var(--primaryBlack)
}

.scrollDownIndicator-module--scrollDownIndicator--36u-R span {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    color: var(--primaryBlack)
}

._404-module--theme-dark--REiBf {
    --primaryBlack: #fff;
    --primaryBlack-Lighten: hsla(0, 0%, 100%, 0.6);
    --primaryBlack-Lighten2: hsla(0, 0%, 100%, 0.85);
    --image-shade: #26292a;
    --repo-name: #86b5ff;
    --repo-border: #373c3e;
    --repo-icon: #fff;
    --repo-star: #fff;
    --repo-fork: #fff;
    --svg: #fff;
    --flicky-background: #181a1b;
    --flicky-color: #c8c3bc;
    --flicky-dot: #4f5a5d;
    --background: #181a1b;
    --clap-wrap: hsla(0, 0%, 100%, 0.54);
    --clap-wrap-hover: hsla(0, 0%, 100%, 0.76);
    --block-quote: hsla(0, 0%, 100%, 0.54)
}

._404-module--theme-light--2IU27 {
    --primaryBlack: #000;
    --primaryBlack-Lighten: rgba(0, 0, 0, 0.6);
    --primaryBlack-Lighten2: rgba(0, 0, 0, 0.85);
    --image-shade: #e8e6e6;
    --repo-name: #001aff;
    --repo-border: #e1e4e8;
    --repo-icon: #000;
    --repo-star: #000;
    --repo-fork: #000;
    --svg: #000;
    --flicky-background: #fff;
    --flicky-color: #333;
    --flicky-dot: #333;
    --background: #fff;
    --clap-wrap: rgba(0, 0, 0, 0.54);
    --clap-wrap-hover: rgba(0, 0, 0, 0.76);
    --block-quote: rgba(0, 0, 0, 0.54)
}

._404-module--relative--3tS1G {
    position: relative
}

._404-module--full-height--31NwR {
    height: 100vh;
    color: #636b6f
}

._404-module--flex-center--3BMzt {
    align-items: center;
    display: flex;
    justify-content: center
}

._404-module--position-ref--1Hl7A {
    position: relative
}

._404-module--code--kZpkx {
    border-right: 2px solid;
    font-size: 26px;
    padding: 0 15px;
    text-align: center
}

._404-module--message--1hmXg {
    font-size: 18px;
    text-align: center
}

._404-module--wrapper--2A2T7 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center
}

._404-module--center--1wqOU {
    display: flex;
    justify-content: center;
    flex-direction: column
}

._404-module--center--1wqOU ._404-module--back--3DslF {
    margin-top: 2rem;
    font-family: Raleway, sans-serif;
    text-align: center
}

._404-module--btn--28-wV {
    border: 1px solid rgba(0, 0, 0, .85);
    padding: 10px 20px;
    border-radius: 5px;
    transition: all .5s ease
}

._404-module--btn--28-wV:hover {
    background: rgba(0, 0, 0, .85);
    color: #fff
}

.theme-dark {
    background: #181a1b;
    color: #fff
}

img.gatsby-resp-image-image {
    box-shadow: none !important
}

div.fp-tableCell {
    position: relative;
    display: flex;
    width: 79.1666666667vw !important;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem
}

@media(max-width:767px) {
    div.fp-tableCell {
        display: table-cell;
        padding: 0
    }
}

@media(max-width:767px) {
    .section:first-child .fp-tableCell {
        margin-top: 30%
    }
}

@media(max-width:767px) {
    main {
        padding: 36px
    }
}

div.section {
    height: 100%
}

div.section:first-of-type+div.section {
    margin-top: 70%
}

div.section:not(:first-child) {
    margin-top: 50%
}

@media(max-width:767px) {
    div.section:first-child {
        margin-top: 50px
    }
    div.section:first-child+div.section,
    div.section:not(:first-child) {
        margin-top: 150px
    }
}

/*! Flickity v2.1.2
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
    position: relative;
    margin-top: 2em
}

.flickity-enabled:focus {
    outline: none
}

.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(0)
}

.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: grab
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: grabbing
}

.flickity-button {
    position: absolute;
    background: var(--flicky-background);
    border: none;
    color: #333
}

.flickity-button:hover {
    background: var(--flicky-background);
    cursor: pointer
}

.flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #19f
}

.flickity-button:active {
    opacity: .6
}

.flickity-button:disabled {
    opacity: .3;
    cursor: auto;
    pointer-events: none
}

.flickity-button-icon {
    fill: var(--flicky-color)
}

.flickity-prev-next-button {
    top: 30%;
    width: 44px;
    height: 44px;
    transform: translateY(-50%)
}

.flickity-prev-next-button.previous {
    left: 0
}

.flickity-prev-next-button.next {
    right: 0
}

.flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px
}

.flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px
}

.flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%
}

.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -3em;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1
}

.flickity-rtl .flickity-page-dots {
    direction: rtl
}

.flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: var(--flicky-dot);
    border-radius: 50%;
    opacity: .25;
    cursor: pointer
}

.flickity-page-dots .dot.is-selected {
    opacity: 1
}

html {
    font-size: 16px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto
}

.ps__rail-x {
    height: 15px;
    bottom: 0
}

.ps__rail-x,
.ps__rail-y {
    display: none;
    opacity: 0;
    transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    position: absolute
}

.ps__rail-y {
    width: 15px;
    right: 0
}

.ps--active-x>.ps__rail-x,
.ps--active-y>.ps__rail-y {
    display: block;
    background-color: transparent
}

.ps--focus>.ps__rail-x,
.ps--focus>.ps__rail-y,
.ps--scrolling-x>.ps__rail-x,
.ps--scrolling-y>.ps__rail-y,
.ps:hover>.ps__rail-x,
.ps:hover>.ps__rail-y {
    opacity: .6
}

.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-x:focus,
.ps .ps__rail-x:hover,
.ps .ps__rail-y.ps--clicking,
.ps .ps__rail-y:focus,
.ps .ps__rail-y:hover {
    background-color: #eee;
    opacity: .9
}

.ps__thumb-x {
    transition: background-color .2s linear, height .2s ease-in-out;
    -webkit-transition: background-color .2s linear, height .2s ease-in-out;
    height: 6px;
    bottom: 2px
}

.ps__thumb-x,
.ps__thumb-y {
    background-color: #aaa;
    border-radius: 6px;
    position: absolute
}

.ps__thumb-y {
    transition: background-color .2s linear, width .2s ease-in-out;
    -webkit-transition: background-color .2s linear, width .2s ease-in-out;
    width: 6px;
    right: 2px
}

.ps__rail-x.ps--clicking .ps__thumb-x,
.ps__rail-x:focus>.ps__thumb-x,
.ps__rail-x:hover>.ps__thumb-x {
    background-color: #999;
    height: 11px
}

.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus>.ps__thumb-y,
.ps__rail-y:hover>.ps__thumb-y {
    background-color: #999;
    width: 11px
}

@supports (-ms-overflow-style:none) {
    .ps {
        overflow: auto !important
    }
}

@media (-ms-high-contrast:none),
screen and (-ms-high-contrast:active) {
    .ps {
        overflow: auto !important
    }
}

.scrollbar-container {
    position: relative;
    height: 100%
}

.blogTemplate-module--theme-dark--28-ZY {
    --primaryBlack: #fff;
    --primaryBlack-Lighten: hsla(0, 0%, 100%, 0.6);
    --primaryBlack-Lighten2: hsla(0, 0%, 100%, 0.85);
    --image-shade: #26292a;
    --repo-name: #86b5ff;
    --repo-border: #373c3e;
    --repo-icon: #fff;
    --repo-star: #fff;
    --repo-fork: #fff;
    --svg: #fff;
    --flicky-background: #181a1b;
    --flicky-color: #c8c3bc;
    --flicky-dot: #4f5a5d;
    --background: #181a1b;
    --clap-wrap: hsla(0, 0%, 100%, 0.54);
    --clap-wrap-hover: hsla(0, 0%, 100%, 0.76);
    --block-quote: hsla(0, 0%, 100%, 0.54)
}

.blogTemplate-module--theme-light--2NPWd {
    --primaryBlack: #000;
    --primaryBlack-Lighten: rgba(0, 0, 0, 0.6);
    --primaryBlack-Lighten2: rgba(0, 0, 0, 0.85);
    --image-shade: #e8e6e6;
    --repo-name: #001aff;
    --repo-border: #e1e4e8;
    --repo-icon: #000;
    --repo-star: #000;
    --repo-fork: #000;
    --svg: #000;
    --flicky-background: #fff;
    --flicky-color: #333;
    --flicky-dot: #333;
    --background: #fff;
    --clap-wrap: rgba(0, 0, 0, 0.54);
    --clap-wrap-hover: rgba(0, 0, 0, 0.76);
    --block-quote: rgba(0, 0, 0, 0.54)
}

.blogTemplate-module--relative--37bI_ {
    position: relative
}

.blogTemplate-module--wrapper--3REi_ {
    margin-top: 200px;
    padding: 2.5rem
}

.blogTemplate-module--wrapper--3REi_ a {
    color: #a84e4f;
    font-weight: 700
}

.blogTemplate-module--wrapper--3REi_ a:hover {
    text-decoration: underline
}

.blogTemplate-module--title--1k5GV {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.666rem
}

h1 {
    font-size: 2.75em;
    margin-bottom: 0
}

p {
    font-weight: 300
}

.blogTemplate-module--gatsby-resp-image-wrapper--25CMz,
p span {
    max-width: 100%
}

.blogTemplate-module--container--1Axez {
    margin: 0 auto;
    max-width: 1000px
}

@media(min-width:992px) {
    .blogTemplate-module--container--1Axez {
        max-width: 950px
    }
}

.blogTemplate-module--container--1Axez table {
    width: 100%;
    font-family: Raleway, sans-serif;
    max-width: 800px
}

.blogTemplate-module--container--1Axez table td,
.blogTemplate-module--container--1Axez table th {
    border-bottom: 0
}

.blogTemplate-module--container--1Axez h2 {
    margin-top: 11rem;
    margin-bottom: 2.6rem
}

.blogTemplate-module--bottomControl--fVWrw {
    font-family: Raleway, sans-serif;
    padding: 2.5rem;
    width: 100%;
    overflow: hidden;
    justify-content: space-between
}

.blogTemplate-module--bottomControl--fVWrw .blogTemplate-module--control--q8rzV {
    display: table
}

.blogTemplate-module--bottomControl--fVWrw .blogTemplate-module--control--q8rzV:hover .blogTemplate-module--controlTitle--2jwIK:after {
    width: 100%
}

.blogTemplate-module--bottomControl--fVWrw .blogTemplate-module--control--q8rzV .blogTemplate-module--controlHeader--3vFLt {
    display: flex;
    color: #989898
}

.blogTemplate-module--bottomControl--fVWrw .blogTemplate-module--control--q8rzV .blogTemplate-module--controlTitle--2jwIK {
    position: relative;
    font-weight: 700;
    display: inline-block
}

.blogTemplate-module--bottomControl--fVWrw .blogTemplate-module--control--q8rzV .blogTemplate-module--controlTitle--2jwIK:after {
    content: "";
    width: 0;
    height: 1px;
    display: block;
    background: var(--primaryBlack);
    transition: .3s
}

.blogTemplate-module--bottomControl--fVWrw .blogTemplate-module--control--q8rzV .blogTemplate-module--controlTitle--2jwIK svg {
    display: none
}

.blogTemplate-module--bottomControl--fVWrw .blogTemplate-module--control--q8rzV .blogTemplate-module--controlTitle--2jwIK svg path {
    fill: var(--svg)
}

@media(min-width:992px) {
    .blogTemplate-module--bottomControl--fVWrw .blogTemplate-module--control--q8rzV .blogTemplate-module--controlTitle--2jwIK svg {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%)
    }
}

.blogTemplate-module--left--3D2z1 {
    float: left
}

.blogTemplate-module--left--3D2z1 svg {
    left: -2em
}

.blogTemplate-module--right--2SiBn {
    float: right
}

.blogTemplate-module--right--2SiBn .blogTemplate-module--controlHeader--3vFLt {
    justify-content: flex-end
}

.blogTemplate-module--right--2SiBn .blogTemplate-module--controlTitle--2jwIK {
    text-align: right
}

.blogTemplate-module--right--2SiBn svg {
    right: -2em
}

.theme-dark {
    --primaryBlack: #fff;
    --primaryBlack-Lighten: hsla(0, 0%, 100%, 0.6);
    --primaryBlack-Lighten2: hsla(0, 0%, 100%, 0.85);
    --image-shade: #26292a;
    --repo-name: #86b5ff;
    --repo-border: #373c3e;
    --repo-icon: #fff;
    --repo-star: #fff;
    --repo-fork: #fff;
    --svg: #fff;
    --flicky-background: #181a1b;
    --flicky-color: #c8c3bc;
    --flicky-dot: #4f5a5d;
    --background: #181a1b;
    --clap-wrap: hsla(0, 0%, 100%, 0.54);
    --clap-wrap-hover: hsla(0, 0%, 100%, 0.76);
    --block-quote: hsla(0, 0%, 100%, 0.54)
}

.theme-light {
    --primaryBlack: #000;
    --primaryBlack-Lighten: rgba(0, 0, 0, 0.6);
    --primaryBlack-Lighten2: rgba(0, 0, 0, 0.85);
    --image-shade: #e8e6e6;
    --repo-name: #001aff;
    --repo-border: #e1e4e8;
    --repo-icon: #000;
    --repo-star: #000;
    --repo-fork: #000;
    --svg: #000;
    --flicky-background: #fff;
    --flicky-color: #333;
    --flicky-dot: #333;
    --background: #fff;
    --clap-wrap: rgba(0, 0, 0, 0.54);
    --clap-wrap-hover: rgba(0, 0, 0, 0.76);
    --block-quote: rgba(0, 0, 0, 0.54)
}

.relative {
    position: relative
}

.inlineImage {
    display: block
}

.inlineImage span.gatsby-resp-image-wrapper {
    margin-bottom: 30px;
    width: 100%;
    max-width: 100% !important
}

@media(min-width:992px) {
    .inlineImage {
        display: flex;
        align-items: flex-start;
        overflow: hidden;
        justify-content: space-between
    }
    .inlineImage span.gatsby-resp-image-wrapper {
        width: 48%
    }
}

.gatsby-resp-image-background-image,
div[class^=blogTemplate] img {
    border-radius: 5px
}

img {
    outline: 0
}

.stop-scrolling {
    height: 100%;
    overflow: hidden
}

tbody tr {
    line-height: .8rem;
    font-size: .9rem
}

.footnote-backref {
    display: none
}

ol {
    margin-left: .8rem;
    font-size: .9rem
}

hr {
    background: transparent
}

li[id^=fn] a {
    color: var(--primaryBlack);
    font-weight: 300;
    font-style: italic
}

sup[id^=fnref] a {
    color: #c7c7c7
}

ul {
    font-weight: 300
}

blockquote {
    clear: both;
    margin: 2.75rem 3rem;
    font-family: Raleway, sans-serif
}

blockquote p {
    line-height: 44px;
    font-size: 1.5rem;
    color: var(--block-quote)
}

blockquote cite {
    float: right;
    font-style: italic;
    font-size: 1.3rem
}

blockquote cite:before {
    content: "\2014";
    margin-right: 1rem
}

@media(max-width:767px) {
    blockquote {
        margin: 2.75rem 1.6rem
    }
    blockquote p {
        font-size: 1.2rem
    }
    blockquote cite {
        font-size: 1rem
    }
}

code {
    font-size: .9rem;
    line-height: 1.666rem;
    color: rgba(255, 128, 128, .9)
}

.clap-module {
    -webkit-user-select: none;
    user-select: none
}

.clap-module-wrap {
    text-align: center
}

.clap-module-wrap button.clap--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: var(--clap-wrap)
}

.clap-module-wrap button.clap--btn:hover {
    border-color: var(--clap-wrap-hover)
}

.clap-module-wrap button.clap--btn .clap--count-total {
    width: 60px;
    top: -25px;
    left: 0;
    margin-left: 0
}

.clap-module-wrap button.clap--btn .clap--count {
    top: 0
}

@media(min-width:1300px) {
    .clap-module-wrap {
        top: 235px;
        position: fixed;
        opacity: 0;
        transform: translateX(-200%);
        transition: opacity .5s ease;
        margin-left: 0;
        left: auto
    }
    .clap-module-wrap button.clap--btn,
    .clap-module-wrap button.clap--btn:focus,
    .clap-module-wrap button.clap--btn:hover {
        border-color: transparent
    }
    .clap-module-wrap button.clap--btn:focus:after,
    .clap-module-wrap button.clap--btn:hover:after {
        animation: none
    }
    .clap-module-wrap button.clap--btn .clap--count-total {
        margin-left: 58px;
        top: auto;
        width: auto
    }
    .clap-module-wrap.showup {
        opacity: 1
    }
}

@keyframes shockwaves {
    0% {
        box-shadow: 0 0 rgba(0, 0, 0, .3)
    }
    70% {
        box-shadow: 0 0 5px 10px hsla(0, 0%, 100%, 0)
    }
    to {
        box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0)
    }
}

.layout {
    opacity: 0;
    transition: opacity .5s ease-in-out .3s
}

.show {
    opacity: 1
}

.twoColMarkdown-module--theme-dark--eU6aQ {
    --primaryBlack: #fff;
    --primaryBlack-Lighten: hsla(0, 0%, 100%, 0.6);
    --primaryBlack-Lighten2: hsla(0, 0%, 100%, 0.85);
    --image-shade: #26292a;
    --repo-name: #86b5ff;
    --repo-border: #373c3e;
    --repo-icon: #fff;
    --repo-star: #fff;
    --repo-fork: #fff;
    --svg: #fff;
    --flicky-background: #181a1b;
    --flicky-color: #c8c3bc;
    --flicky-dot: #4f5a5d;
    --background: #181a1b;
    --clap-wrap: hsla(0, 0%, 100%, 0.54);
    --clap-wrap-hover: hsla(0, 0%, 100%, 0.76);
    --block-quote: hsla(0, 0%, 100%, 0.54)
}

.twoColMarkdown-module--theme-light--Mi9SG {
    --primaryBlack: #000;
    --primaryBlack-Lighten: rgba(0, 0, 0, 0.6);
    --primaryBlack-Lighten2: rgba(0, 0, 0, 0.85);
    --image-shade: #e8e6e6;
    --repo-name: #001aff;
    --repo-border: #e1e4e8;
    --repo-icon: #000;
    --repo-star: #000;
    --repo-fork: #000;
    --svg: #000;
    --flicky-background: #fff;
    --flicky-color: #333;
    --flicky-dot: #333;
    --background: #fff;
    --clap-wrap: rgba(0, 0, 0, 0.54);
    --clap-wrap-hover: rgba(0, 0, 0, 0.76);
    --block-quote: rgba(0, 0, 0, 0.54)
}

.twoColMarkdown-module--relative--11oRL {
    position: relative
}

@media(min-width:992px) {
    .twoColMarkdown-module--two-col-markdown--1yLeg {
        display: flex
    }
    .twoColMarkdown-module--two-col-markdown--1yLeg div:first-child {
        flex: 1 0;
        margin-right: 47px;
        margin-left: 0
    }
    .twoColMarkdown-module--two-col-markdown--1yLeg div:nth-child(2) {
        flex: 1 0
    }
    .twoColMarkdown-module--two-col-markdown--1yLeg.twoColMarkdown-module--revert--3wwNM {
        flex-direction: row-reverse
    }
    .twoColMarkdown-module--two-col-markdown--1yLeg.twoColMarkdown-module--revert--3wwNM div:first-child {
        margin-left: 47px;
        margin-right: 0
    }
}

.twoColMarkdown-module--two-col-markdown--1yLeg p:last-child {
    margin-bottom: 1.666rem
}

.core-module--theme-dark--2Ikqt {
    --primaryBlack: #fff;
    --primaryBlack-Lighten: hsla(0, 0%, 100%, 0.6);
    --primaryBlack-Lighten2: hsla(0, 0%, 100%, 0.85);
    --image-shade: #26292a;
    --repo-name: #86b5ff;
    --repo-border: #373c3e;
    --repo-icon: #fff;
    --repo-star: #fff;
    --repo-fork: #fff;
    --svg: #fff;
    --flicky-background: #181a1b;
    --flicky-color: #c8c3bc;
    --flicky-dot: #4f5a5d;
    --background: #181a1b;
    --clap-wrap: hsla(0, 0%, 100%, 0.54);
    --clap-wrap-hover: hsla(0, 0%, 100%, 0.76);
    --block-quote: hsla(0, 0%, 100%, 0.54)
}

.core-module--theme-light--3N5qJ {
    --primaryBlack: #000;
    --primaryBlack-Lighten: rgba(0, 0, 0, 0.6);
    --primaryBlack-Lighten2: rgba(0, 0, 0, 0.85);
    --image-shade: #e8e6e6;
    --repo-name: #001aff;
    --repo-border: #e1e4e8;
    --repo-icon: #000;
    --repo-star: #000;
    --repo-fork: #000;
    --svg: #000;
    --flicky-background: #fff;
    --flicky-color: #333;
    --flicky-dot: #333;
    --background: #fff;
    --clap-wrap: rgba(0, 0, 0, 0.54);
    --clap-wrap-hover: rgba(0, 0, 0, 0.76);
    --block-quote: rgba(0, 0, 0, 0.54)
}

.core-module--relative--3xmxL {
    position: relative
}

.core-module--description--27mfT {
    color: var(--primaryBlack-Lighten);
    font-weight: 300;
    margin-bottom: .5rem
}

.core-module--word-w-long--2x_RY {
    width: 100%;
    max-width: 500px;
    word-break: break-word
}

.core-module--word-w-short--1CGLO {
    max-width: 600px;
    width: 100%;
    word-break: break-word
}

.core-module--link--2Blw3 {
    font-family: Raleway, sans-serif;
    color: var(--primaryBlack);
    font-weight: 600;
    text-decoration: underline
}

.core-module--link--2Blw3:hover {
    cursor: pointer
}

.core-module--email--1KPFN {
    border-bottom: 2px solid var(--primaryBlack)
}

.core-module--grid--Pz1B0 {
    display: grid;
    width: 100%
}

.core-module--flex--2jc-r {
    display: flex
}

.core-module--grid-g-3--d64kZ {
    grid-gap: 3em
}

.core-module--grid-g-2--Jacg2 {
    grid-gap: 2em
}

.core-module--grid-g-1--2VFRn {
    grid-gap: 1em
}

.core-module--grid-1-1--p7DSG {
    grid-template-columns: 1fr 1fr
}

@media(max-width:767px) {
    .core-module--grid-1-1--p7DSG {
        grid-template-columns: 1fr
    }
}

.core-module--grid-1--12cu6 {
    grid-template-columns: auto
}

.core-module--align-center--1btq6 {
    align-items: center
}

.core-module--contentPage--1aCw9 {
    position: relative;
    width: 100%;
    height: calc(100% - 19em);
    display: flex;
    flex-direction: column;
    justify-content: center
}

@media(max-width:767px) {
    .core-module--contentPage--1aCw9 {
        display: block;
        height: auto
    }
}

.core-module--contentPage--1aCw9 h2 {
    margin-bottom: .9rem
}

.firstPage-module--theme-dark--NZRBZ {
    --primaryBlack: #fff;
    --primaryBlack-Lighten: hsla(0, 0%, 100%, 0.6);
    --primaryBlack-Lighten2: hsla(0, 0%, 100%, 0.85);
    --image-shade: #26292a;
    --repo-name: #86b5ff;
    --repo-border: #373c3e;
    --repo-icon: #fff;
    --repo-star: #fff;
    --repo-fork: #fff;
    --svg: #fff;
    --flicky-background: #181a1b;
    --flicky-color: #c8c3bc;
    --flicky-dot: #4f5a5d;
    --background: #181a1b;
    --clap-wrap: hsla(0, 0%, 100%, 0.54);
    --clap-wrap-hover: hsla(0, 0%, 100%, 0.76);
    --block-quote: hsla(0, 0%, 100%, 0.54)
}

.firstPage-module--theme-light--3CXWC {
    --primaryBlack: #000;
    --primaryBlack-Lighten: rgba(0, 0, 0, 0.6);
    --primaryBlack-Lighten2: rgba(0, 0, 0, 0.85);
    --image-shade: #e8e6e6;
    --repo-name: #001aff;
    --repo-border: #e1e4e8;
    --repo-icon: #000;
    --repo-star: #000;
    --repo-fork: #000;
    --svg: #000;
    --flicky-background: #fff;
    --flicky-color: #333;
    --flicky-dot: #333;
    --background: #fff;
    --clap-wrap: rgba(0, 0, 0, 0.54);
    --clap-wrap-hover: rgba(0, 0, 0, 0.76);
    --block-quote: rgba(0, 0, 0, 0.54)
}

.firstPage-module--relative--1rWIp {
    position: relative
}

.firstPage-module--flatImage--iAE83 {
    max-width: 500px;
    position: relative;
    width: 84%
}

.firstPage-module--flatImage--iAE83>div:first-child {
    position: relative;
    z-index: 3
}

.firstPage-module--imageShade--3R2d9 {
    background: var(--image-shade);
    position: absolute;
    width: 90%;
    height: 90%;
    top: 30%;
    left: 30%;
    z-index: 1
}

.firstPage-module--intro--13uDr {
    justify-self: right
}

@media(max-width:767px) {
    .firstPage-module--intro--13uDr {
        justify-self: left
    }
}

.showcaseItem-module--theme-dark--6JSSK {
    --primaryBlack: #fff;
    --primaryBlack-Lighten: hsla(0, 0%, 100%, 0.6);
    --primaryBlack-Lighten2: hsla(0, 0%, 100%, 0.85);
    --image-shade: #26292a;
    --repo-name: #86b5ff;
    --repo-border: #373c3e;
    --repo-icon: #fff;
    --repo-star: #fff;
    --repo-fork: #fff;
    --svg: #fff;
    --flicky-background: #181a1b;
    --flicky-color: #c8c3bc;
    --flicky-dot: #4f5a5d;
    --background: #181a1b;
    --clap-wrap: hsla(0, 0%, 100%, 0.54);
    --clap-wrap-hover: hsla(0, 0%, 100%, 0.76);
    --block-quote: hsla(0, 0%, 100%, 0.54)
}

.showcaseItem-module--theme-light--2p7Fn {
    --primaryBlack: #000;
    --primaryBlack-Lighten: rgba(0, 0, 0, 0.6);
    --primaryBlack-Lighten2: rgba(0, 0, 0, 0.85);
    --image-shade: #e8e6e6;
    --repo-name: #001aff;
    --repo-border: #e1e4e8;
    --repo-icon: #000;
    --repo-star: #000;
    --repo-fork: #000;
    --svg: #000;
    --flicky-background: #fff;
    --flicky-color: #333;
    --flicky-dot: #333;
    --background: #fff;
    --clap-wrap: rgba(0, 0, 0, 0.54);
    --clap-wrap-hover: rgba(0, 0, 0, 0.76);
    --block-quote: rgba(0, 0, 0, 0.54)
}

.showcaseItem-module--relative--zXHBp {
    position: relative
}

.showcaseItem-module--showCaseItem--2cOhQ {
    width: 100%;
    max-width: 350px;
    margin-right: 2.5em
}

.showcaseItem-module--showCaseItem--2cOhQ .showcaseItem-module--bgImage--1cv8t {
    transition: all .5s ease;
    border-radius: 5px;
    height: 233px
}

.showcaseItem-module--showCaseItem--2cOhQ .showcaseItem-module--bgImage--1cv8t picture img {
    max-height: 240px;
    transition: all .5s ease !important
}

.showcaseItem-module--showCaseItem--2cOhQ .showcaseItem-module--featureImage--3EOYU {
    position: relative;
    cursor: pointer;
    border-radius: 5px
}

.showcaseItem-module--showCaseItem--2cOhQ .showcaseItem-module--featureImage--3EOYU .showcaseItem-module--wrapOver--1WW2q {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
    top: 0;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    display: flex;
    transition: all 1s ease
}

.showcaseItem-module--showCaseItem--2cOhQ .showcaseItem-module--featureImage--3EOYU .showcaseItem-module--wrapOver--1WW2q .showcaseItem-module--label--3uWQI:nth-child(1n) {
    animation-delay: .1s
}

.showcaseItem-module--showCaseItem--2cOhQ .showcaseItem-module--featureImage--3EOYU .showcaseItem-module--wrapOver--1WW2q .showcaseItem-module--label--3uWQI:nth-child(2n) {
    animation-delay: .2s
}

.showcaseItem-module--showCaseItem--2cOhQ .showcaseItem-module--featureImage--3EOYU .showcaseItem-module--wrapOver--1WW2q .showcaseItem-module--label--3uWQI:nth-child(3n) {
    animation-delay: .3s
}

.showcaseItem-module--showCaseItem--2cOhQ .showcaseItem-module--featureImage--3EOYU .showcaseItem-module--wrapOver--1WW2q .showcaseItem-module--label--3uWQI:nth-child(4n) {
    animation-delay: .4s
}

.showcaseItem-module--showCaseItem--2cOhQ .showcaseItem-module--featureImage--3EOYU .showcaseItem-module--wrapOver--1WW2q .showcaseItem-module--label--3uWQI:nth-child(5n) {
    animation-delay: .5s
}

.showcaseItem-module--showCaseItem--2cOhQ .showcaseItem-module--featureImage--3EOYU .showcaseItem-module--wrapOver--1WW2q .showcaseItem-module--label--3uWQI:nth-child(6n) {
    animation-delay: .6s
}

.showcaseItem-module--showCaseItem--2cOhQ .showcaseItem-module--featureImage--3EOYU .showcaseItem-module--wrapOver--1WW2q .showcaseItem-module--label--3uWQI:nth-child(7n) {
    animation-delay: .7s
}

.showcaseItem-module--showCaseItem--2cOhQ .showcaseItem-module--featureImage--3EOYU .showcaseItem-module--wrapOver--1WW2q .showcaseItem-module--label--3uWQI:nth-child(8n) {
    animation-delay: .8s
}

.showcaseItem-module--showCaseItem--2cOhQ .showcaseItem-module--featureImage--3EOYU .showcaseItem-module--wrapOver--1WW2q .showcaseItem-module--label--3uWQI:nth-child(9n) {
    animation-delay: .9s
}

.showcaseItem-module--showCaseItem--2cOhQ .showcaseItem-module--featureImage--3EOYU .showcaseItem-module--wrapOver--1WW2q .showcaseItem-module--label--3uWQI:nth-child(10n) {
    animation-delay: 1s
}

.showcaseItem-module--showCaseItem--2cOhQ .showcaseItem-module--featureImage--3EOYU .showcaseItem-module--wrapOver--1WW2q .showcaseItem-module--label--3uWQI {
    font-size: .7em;
    font-family: Raleway, sans-serif;
    background: transparent;
    color: #fff;
    font-weight: 500;
    border: 2px solid #fff;
    padding: .2em 1em;
    display: inline-block;
    border-radius: 99999999px;
    opacity: 0;
    margin-right: .5em;
    margin-bottom: .5em;
    cursor: pointer;
    transition: all .1s ease
}

.showcaseItem-module--showCaseItem--2cOhQ .showcaseItem-module--featureImage--3EOYU .showcaseItem-module--wrapOver--1WW2q .showcaseItem-module--label--3uWQI:hover {
    background: #fff;
    color: #000
}

.showcaseItem-module--showCaseItem--2cOhQ .showcaseItem-module--featureImage--3EOYU .showcaseItem-module--wrapOver--1WW2q .showcaseItem-module--labelHolder--VuClN {
    width: 70%;
    text-align: center
}

.showcaseItem-module--showCaseItem--2cOhQ .showcaseItem-module--description--1usi_ {
    color: var(--primaryBlack-Lighten2);
    font-weight: 300;
    margin: .6em auto
}

.showcaseItem-module--showCaseItem--2cOhQ a {
    font-family: Raleway, sans-serif;
    font-weight: 500;
    color: var(--primaryBlack-Lighten2);
    cursor: pointer;
    transition: color 1s ease
}

.showcaseItem-module--showCaseItem--2cOhQ a:hover {
    color: var(--primaryBlack);
    text-decoration: underline
}

.showcaseItem-module--showCaseItem--2cOhQ h3 {
    margin-top: 1em;
    margin-bottom: 0;
    font-family: Raleway, sans-serif
}

.showcaseItem-module--showCaseItem--2cOhQ h3 a {
    font-weight: inherit
}

.showcaseItem-module--showCaseItem--2cOhQ h3 a:hover {
    text-decoration: none
}

.showcaseItem-module--showCaseItem--2cOhQ:hover div.showcaseItem-module--featureImage--3EOYU>.showcaseItem-module--bgImage--1cv8t picture img {
    transform: scale(1.1)
}

.showcaseItem-module--showCaseItem--2cOhQ:hover div.showcaseItem-module--featureImage--3EOYU>.showcaseItem-module--wrapOver--1WW2q {
    opacity: 1
}

.showcaseItem-module--showCaseItem--2cOhQ:hover div.showcaseItem-module--featureImage--3EOYU>.showcaseItem-module--wrapOver--1WW2q .showcaseItem-module--label--3uWQI {
    animation: showcaseItem-module--FadeIn--2RQCA .5s forwards
}

@keyframes showcaseItem-module--FadeIn--2RQCA {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.thirdPage-module--theme-dark--30nyc {
    --primaryBlack: #fff;
    --primaryBlack-Lighten: hsla(0, 0%, 100%, 0.6);
    --primaryBlack-Lighten2: hsla(0, 0%, 100%, 0.85);
    --image-shade: #26292a;
    --repo-name: #86b5ff;
    --repo-border: #373c3e;
    --repo-icon: #fff;
    --repo-star: #fff;
    --repo-fork: #fff;
    --svg: #fff;
    --flicky-background: #181a1b;
    --flicky-color: #c8c3bc;
    --flicky-dot: #4f5a5d;
    --background: #181a1b;
    --clap-wrap: hsla(0, 0%, 100%, 0.54);
    --clap-wrap-hover: hsla(0, 0%, 100%, 0.76);
    --block-quote: hsla(0, 0%, 100%, 0.54)
}

.thirdPage-module--theme-light--2myrv {
    --primaryBlack: #000;
    --primaryBlack-Lighten: rgba(0, 0, 0, 0.6);
    --primaryBlack-Lighten2: rgba(0, 0, 0, 0.85);
    --image-shade: #e8e6e6;
    --repo-name: #001aff;
    --repo-border: #e1e4e8;
    --repo-icon: #000;
    --repo-star: #000;
    --repo-fork: #000;
    --svg: #000;
    --flicky-background: #fff;
    --flicky-color: #333;
    --flicky-dot: #333;
    --background: #fff;
    --clap-wrap: rgba(0, 0, 0, 0.54);
    --clap-wrap-hover: rgba(0, 0, 0, 0.76);
    --block-quote: rgba(0, 0, 0, 0.54)
}

.thirdPage-module--relative--3U3It {
    position: relative
}

.thirdPage-module--githubUser--2a5IG {
    display: none
}

@media(min-width:1065px) {
    .thirdPage-module--githubUser--2a5IG {
        display: block
    }
}

.thirdPage-module--githubUser--2a5IG>div {
    align-items: center
}

.thirdPage-module--githubUser--2a5IG .thirdPage-module--githubAvatar--2Yvmg {
    display: flex;
    align-content: center;
    width: 54px;
    height: 54px;
    margin-right: 12px
}

.thirdPage-module--githubUser--2a5IG .thirdPage-module--githubAvatar--2Yvmg img {
    width: 54px;
    height: 54px;
    border-radius: 100%;
    margin: 0
}

.thirdPage-module--githubUser--2a5IG .thirdPage-module--githubLoginWrapper--38jqm .thirdPage-module--githubName--1nAvK {
    font-weight: 700;
    font-family: Raleway, sans-serif;
    line-height: 1.3rem
}

.thirdPage-module--githubUser--2a5IG .thirdPage-module--githubLoginWrapper--38jqm .thirdPage-module--githubLogin--16_BX {
    font-size: .9rem;
    color: var(--primaryBlack-Lighten2);
    line-height: 1.3rem
}

.thirdPage-module--repos--1A4Hd {
    display: grid;
    margin-top: 30px;
    grid-gap: 30px;
    grid-template-columns: 1fr
}

@media(min-width:768px) {
    .thirdPage-module--repos--1A4Hd {
        grid-template-columns: 1fr 1fr
    }
}

@media(min-width:992px) {
    .thirdPage-module--repos--1A4Hd {
        grid-template-columns: 1fr 1fr 1fr
    }
}

.thirdPage-module--thirdPageHeader--1DMRQ {
    align-items: center;
    justify-content: space-between
}

.github-module--theme-dark--3h_jm {
    --primaryBlack: #fff;
    --primaryBlack-Lighten: hsla(0, 0%, 100%, 0.6);
    --primaryBlack-Lighten2: hsla(0, 0%, 100%, 0.85);
    --image-shade: #26292a;
    --repo-name: #86b5ff;
    --repo-border: #373c3e;
    --repo-icon: #fff;
    --repo-star: #fff;
    --repo-fork: #fff;
    --svg: #fff;
    --flicky-background: #181a1b;
    --flicky-color: #c8c3bc;
    --flicky-dot: #4f5a5d;
    --background: #181a1b;
    --clap-wrap: hsla(0, 0%, 100%, 0.54);
    --clap-wrap-hover: hsla(0, 0%, 100%, 0.76);
    --block-quote: hsla(0, 0%, 100%, 0.54)
}

.github-module--theme-light--1xl-r {
    --primaryBlack: #000;
    --primaryBlack-Lighten: rgba(0, 0, 0, 0.6);
    --primaryBlack-Lighten2: rgba(0, 0, 0, 0.85);
    --image-shade: #e8e6e6;
    --repo-name: #001aff;
    --repo-border: #e1e4e8;
    --repo-icon: #000;
    --repo-star: #000;
    --repo-fork: #000;
    --svg: #000;
    --flicky-background: #fff;
    --flicky-color: #333;
    --flicky-dot: #333;
    --background: #fff;
    --clap-wrap: rgba(0, 0, 0, 0.54);
    --clap-wrap-hover: rgba(0, 0, 0, 0.76);
    --block-quote: rgba(0, 0, 0, 0.54)
}

.github-module--relative--GXy0g {
    position: relative
}

.github-module--githubComponent--PWyXA {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 190px;
    height: auto;
    border: 1px solid var(--repo-border);
    border-radius: 5px;
    padding: 18px 21px
}

.github-module--githubComponent--PWyXA .github-module--title--1VxCX,
.github-module--githubComponent--PWyXA .github-module--title--1VxCX .github-module--icon--2P4Ys {
    display: flex;
    align-items: center
}

.github-module--githubComponent--PWyXA .github-module--title--1VxCX .github-module--icon--2P4Ys svg {
    fill: var(--repo-icon)
}

.github-module--githubComponent--PWyXA .github-module--title--1VxCX .github-module--repoName--3Wme0 {
    font-family: Raleway, sans-serif;
    line-height: normal;
    margin-left: 6px;
    font-weight: 500;
    color: var(--repo-name);
    font-size: .9rem;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis
}

.github-module--githubComponent--PWyXA .github-module--title--1VxCX .github-module--repoName--3Wme0:hover {
    text-decoration: underline
}

.github-module--githubComponent--PWyXA .github-module--description--395YV {
    font-size: .8rem;
    margin-top: 10px;
    color: var(--primaryBlack-Lighten2);
    font-weight: 300;
    height: 100%;
    max-height: 70px;
    overflow: auto
}

.github-module--githubComponent--PWyXA .github-module--footer--2f1rm {
    display: flex;
    align-items: center;
    font-family: Raleway, sans-serif;
    font-size: .7rem;
    margin-top: 30px;
    color: var(--primaryBlack-Lighten2)
}

.github-module--githubComponent--PWyXA .github-module--footer--2f1rm .github-module--languageColor--31Nfl {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #f1e05a
}

.github-module--githubComponent--PWyXA .github-module--footer--2f1rm .github-module--language--1B08h {
    margin-left: 4px;
    margin-right: 16px
}

.github-module--githubComponent--PWyXA .github-module--footer--2f1rm .github-module--starCount--1sIe_ {
    display: flex;
    align-items: center;
    line-height: .7rem;
    margin-right: 16px
}

.github-module--githubComponent--PWyXA .github-module--footer--2f1rm .github-module--starCount--1sIe_ svg g path {
    fill: var(--repo-star)
}

.github-module--githubComponent--PWyXA .github-module--footer--2f1rm .github-module--forkCount--yzrGf {
    display: flex;
    align-items: center;
    line-height: .6rem
}

.github-module--githubComponent--PWyXA .github-module--footer--2f1rm .github-module--forkCount--yzrGf svg g path {
    fill: var(--repo-fork)
}

.fourthPage-module--theme-dark--3PbB5 {
    --primaryBlack: #fff;
    --primaryBlack-Lighten: hsla(0, 0%, 100%, 0.6);
    --primaryBlack-Lighten2: hsla(0, 0%, 100%, 0.85);
    --image-shade: #26292a;
    --repo-name: #86b5ff;
    --repo-border: #373c3e;
    --repo-icon: #fff;
    --repo-star: #fff;
    --repo-fork: #fff;
    --svg: #fff;
    --flicky-background: #181a1b;
    --flicky-color: #c8c3bc;
    --flicky-dot: #4f5a5d;
    --background: #181a1b;
    --clap-wrap: hsla(0, 0%, 100%, 0.54);
    --clap-wrap-hover: hsla(0, 0%, 100%, 0.76);
    --block-quote: hsla(0, 0%, 100%, 0.54)
}

.fourthPage-module--theme-light--2J1mV {
    --primaryBlack: #000;
    --primaryBlack-Lighten: rgba(0, 0, 0, 0.6);
    --primaryBlack-Lighten2: rgba(0, 0, 0, 0.85);
    --image-shade: #e8e6e6;
    --repo-name: #001aff;
    --repo-border: #e1e4e8;
    --repo-icon: #000;
    --repo-star: #000;
    --repo-fork: #000;
    --svg: #000;
    --flicky-background: #fff;
    --flicky-color: #333;
    --flicky-dot: #333;
    --background: #fff;
    --clap-wrap: rgba(0, 0, 0, 0.54);
    --clap-wrap-hover: rgba(0, 0, 0, 0.76);
    --block-quote: rgba(0, 0, 0, 0.54)
}

.fourthPage-module--relative--3OBIL {
    position: relative
}

.fourthPage-module--socialMedia--2DNIT {
    display: flex;
    width: 80px;
    justify-content: space-between
}

.fourthPage-module--socialMedia--2DNIT div svg {
    width: 1rem
}

.fourthPage-module--socialMedia--2DNIT div svg path {
    fill: var(--svg)
}

.fourthPage-module--wrapper--3rXTz {
    min-height: 500px
}

.copyRight-module--theme-dark--2KOxW {
    --primaryBlack: #fff;
    --primaryBlack-Lighten: hsla(0, 0%, 100%, 0.6);
    --primaryBlack-Lighten2: hsla(0, 0%, 100%, 0.85);
    --image-shade: #26292a;
    --repo-name: #86b5ff;
    --repo-border: #373c3e;
    --repo-icon: #fff;
    --repo-star: #fff;
    --repo-fork: #fff;
    --svg: #fff;
    --flicky-background: #181a1b;
    --flicky-color: #c8c3bc;
    --flicky-dot: #4f5a5d;
    --background: #181a1b;
    --clap-wrap: hsla(0, 0%, 100%, 0.54);
    --clap-wrap-hover: hsla(0, 0%, 100%, 0.76);
    --block-quote: hsla(0, 0%, 100%, 0.54)
}

.copyRight-module--theme-light--Kv4Er {
    --primaryBlack: #000;
    --primaryBlack-Lighten: rgba(0, 0, 0, 0.6);
    --primaryBlack-Lighten2: rgba(0, 0, 0, 0.85);
    --image-shade: #e8e6e6;
    --repo-name: #001aff;
    --repo-border: #e1e4e8;
    --repo-icon: #000;
    --repo-star: #000;
    --repo-fork: #000;
    --svg: #000;
    --flicky-background: #fff;
    --flicky-color: #333;
    --flicky-dot: #333;
    --background: #fff;
    --clap-wrap: rgba(0, 0, 0, 0.54);
    --clap-wrap-hover: rgba(0, 0, 0, 0.76);
    --block-quote: rgba(0, 0, 0, 0.54)
}

.copyRight-module--relative--2mmHw {
    position: relative
}

body {
    font-size: 16px
}

@media(min-width:768px) {
    body {
        font-size: 14px
    }
}

@media(min-width:1200px) {
    body {
        font-size: 16px
    }
}

.copyRight-module--copy-right--YKw9B {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: .8rem;
    text-align: center;
    font-family: Raleway, sans-serif;
    width: 100%
}

@media(min-width:768px) {
    .copyRight-module--copy-right--YKw9B {
        bottom: 3rem
    }
}

.copyRight-module--copy-right--YKw9B p {
    margin-bottom: 0
}

.copyRight-module--copy-right--YKw9B p a {
    opacity: .5
}

.copyRight-module--copy-right--YKw9B p a:hover {
    opacity: 1
}